body {
  background-color: black;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
  width: 300px;
  height: 400px;
}

#click-me{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}